@import "tailwindcss";
body {
  font-family: "Space Mono", monospace;
  background: #eeeeee;
}

@keyframes slideLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-120%);
  }
}

.sinan-scroll {
  animation: slideLeft 1 linear both;
  animation-timeline: scroll();
  animation-range: 0px 1000px;
}
