@import "tailwindcss";
body {
  font-family: "Space Mono", monospace;
  background: #f3f4f6;
}

@keyframes slideLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-120%);
  }
}
